<div class="inner inner-login">
    <img class="img-responsive logo" src="image/nok360-logo.png" />
    <br>
    <span class="error"></span>
    <form id="" ng-submit="login(username, password)">
        <div class="col-xs-12 wow animated slideInLeft input-con" data-wow-delay=".5s">
            <input type="text" name="username" id="uname" required="required" class="form" placeholder="Username" ng-model="username"/>
            <input type="password" name="password" id="pword" required="required" class="form" placeholder="Password" ng-model="password"/>
            <div class="relative fullwidth button-con">
                <button type="submit" id="submit" name="submit" class="form-btn semibold">login</button> 
            </div>
        </div>
        <div class="clear"></div>
    </form>
</div>